*{
  font-family: "Adobe Caslon Pro", "Times New Roman", Times, serif !important;
}
.navbar{
  background: #34353A !important;
 
}
.navbar ul li a{
  color: #fff;
}
.navbar-brand{
  color: #fff;
}
.person-name{
  color: #ffa50a;
  font-weight: 600;
}
.banner{
  background: #34353A !important;
  padding: 40px;
}
.personal-info{
  padding: 180px 0 0 0;
}
.personal-role{
  font-size:24px;
  color:#fff;
}
.person-name{
  font-size:32px;
}
.contact-me-btn{
  border:2px solid #F0BF6C;
  color: #F0BF6C;
  background-color: #34353A;
  font-weight: 600;
}
.about-us{
  background: #34353A !important;
  padding: 40px;
  color: #fff; 
}
.about-description{
padding: 20px 40px;
}
.Skills{
  background: #34353A !important;
  color: #fff; 
}
.skill-box{
  background: #3D3E42 !important;
  width: 100%;
  text-align: center;
  padding: 40px;
  border-radius: 8px;
}
.skill-box p{
  padding: 20px 0;
}
.box2{
  margin-top:20px;
}
.box3{
  margin-top:20px;
 
}
.skill-box:hover{
  background-color: #ffa50a !important;
  transition: background-color 0.3s ease; 
}
.skill-title{
  width: 100%;
  text-align: center;
}
.Portfolio{
  background: #34353A !important;
  padding: 40px;
  color: #fff;
}
.Portfolio-dokan{
  background: #34353A !important;
  padding: 20px 0 110px 0;
  color: #fff;
}
.portfolio-title{
  width: 100%;
  text-align: center;
}
.experince{
  background: #34353A !important;
  color: #fff;
  padding: 0 0 80px 0;
}
.contact{
  background: #3D3E42 !important;
  padding: 20px;
  color: #fff;
}
.contact-header{
  width: 100%;
  text-align: center;
  margin-top: -46px;
  color: orange;
  font-size: 32px;
  margin-bottom: 47px;
  font-weight: 600;
}
.personal-mail{
  padding: 15px 10px 5px 25px;
  font-size: 18px;
  font-weight: 600;
  background: #34353A !important;
  color: #F0BF6C !important;
  border-radius: 8px;
}
#mail{
  color: #fff !important; 
}
#mobile{
  color: #fff; 
}
.personal-location{
  width: 100%;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  padding: 15px 10px 5px 25px;
  background: #34353A !important;
  color: #F0BF6C !important;
  border-radius: 8px;
  margin-top: 15px;
  margin-left: 60px;
  
}
.hr-line{
  color: #F0BF6C;
  border: 1px solid #F0BF6C;
  width: 32px;
}
.portfolio-image{
  border-radius: 8px;
}

.portfolio-link {
  position: relative;
  display: inline-block;
}

.portfolio-container {
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.overlay p {
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.portfolio-container:hover .overlay {
  opacity: 1;
}
.role-company{
  color: #ffa50a;
}
.location-company{
  color: #F0BF6C;
}
.experince-company{
  padding: 5px 0;
}
.experince-company .role-company{
  padding: 20px 0 0 0;
}
.skill-title{
  margin-top: -30px;
  font-weight: 600;
  font-size: 36px;
}
.about-title{
  
  font-weight: 600;
  font-size: 36px;
}
.portfolio-title{
  padding: 10px 0;
  font-weight: 600;
  font-size: 36px;
}

.experince-title{
  padding: 10px 0;
  font-weight: 600;
  font-size: 36px;
}
.line {
  flex: 1;
  display: inline-block;
  height: 1px;
  background-color: #000; /* Change the color as needed */
  margin: 0 10px; /* Adjust the margin as needed */
}
#mobile{
  background: #fff;
}
#mail{
  background: #fff;
}